body {
    font-family: Arial;
    background-color: #f4f8f4;
    margin: 0;
}

header {
    background: green;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #2e7d32;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 20px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid green;
    padding: 10px;
    text-align: center;
}

footer {
    background: green;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}